<!-- header field -->

<nav class="navbar navbar-expand-lg static-top"id="headerCcontainer"
  style="background-color: #6aa5fd">
  <div class="container">
    <a class="navbar-brand" href="#" style="color: white;">
      <strong i18n="Title for the Lorry Booking application@@LorryHeader"
        class="ml-150 mr87">TruckWay</strong>
      <span i18n="@@LorryName" class="mr500">Online Lorry Booking</span>
      <small>
        <a [routerLink]="['/login']" class="loginmrml"> Login </a>
        <a>TrackOrder </a>
        
        </small>
    </a>
  </div>
</nav>
